
/* ================  Groups  ================ */
.groups{
  width: 100%;
  margin-bottom: 20px;
  padding: 0px;
}
.one-group{
  height: 90px;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 10px !important;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px #f3f3f3;
  background-color: white;
  border: 1px solid #f9f9f9;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.one-group:hover{
  background-color: #f7f7f7;
}
.group-status{
  height: 70px;
  max-width: 70px;
  flex: 1;
  border-radius: 5px;
}
.group-color-clear, .color-clear{
  background-color: #e9e7e5;
}
.group-color-owe, .color-owe{
  background-color: #ffc1ca;
}
.group-color-owes, .color-owes{
  background-color: #b8f1d1;
}
.one-group .flex-property a, .one-group .flex-property p, .group-name{
  margin: 0px 10px;
}
.one-group .flex-property{
  flex: 1;
}
.one-group .group-name{
  width: 100%;
  font-family: "Rubik";
  font-weight: 300;
  font-size: .9em;
  color: #313246 !important;
  margin-top: -10px !important;
}
.one-group .group-members{
  width: 100%;
  font-weight: 800;
  font-size: 1.3em;
  text-transform: uppercase;
  height: 100%;
  color: white;
}
.one-group .group-my-status{
  width: 100%;
  font-size: .8em;
  font-weight: 300;
  color: #9f9792;
}
.group-info{
  height: 100%;
}
.group-info span{
  font-size: .7em;
  width: 100%;
  display: block;
  text-align: right;
  color: #313246;
}

.group-delete {
  cursor: pointer;
  flex: 0 0 2rem;
  justify-content: flex-end;
  display: flex;
}
