body{
  font-family: "Lato","Arial";
}
h1,h2,h3,h4,h5, h6{
  font-family: "Rubik","Lato","Arial";
}
a{
  cursor: pointer;
}
a.link-font{
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  margin: 5px 0px;
  padding: 10px 0px;
  color: #f15656;
}
.mar-10{
  margin: 10px;
}
.padd-20{
  padding: 20px;
}
a.button-font, input.button-font{
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  color: white;
  margin: 5px 0px;
  padding: 10px 15px;
  background-color: #f15656;
  border: 0px;
}

.flex-property{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}
.flex-center{
  justify-content: center;
  align-items: center;
}

.white-box{
  padding: 20px;
  background-color: white;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 1px 1px 10px 0px #ebebeb;
  box-shadow: 1px 1px 10px 0px #ebebeb;
}
.div-wrap{
  flex-wrap: wrap;
}
.page{
  min-height: 100vh;
  background-color: #f7f5f3;
}


/* custom input */

.border-input{
  border: none;
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #d6d6d6;
}
.submit{
  border: none;
  background-color: transparent;
}
.input-custom{
  width: 100%;
  display: block;
  position: relative;
}
.form-input-elements {
  width: 100%;
}
.form-input-elements .form-element {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.form-input-elements .floated {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  border-radius: 0px;
  background: #fff;
  border: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: .9em;
  font-weight: 300;
  color: #313146;
}
.form-input-elements .floated:focus {
  outline: none;
}

.form-input-elements .floated + label {
  /* display: inline-block; */
  position: absolute;
  font-size: .8em;
  font-weight: 300;
  margin-bottom: 0px;
  color: #a7a7a7;
  left: 0px;
  top: -18px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.form-input-elements .floated:focus,
.form-input-elements .floated:active,
.form-input-elements .floated:invalid {
  text-indent: 0px;
}
.form-input-elements .floated:focus + label,
.form-input-elements .floated:active + label{
  transform: translateY(5px);
  opacity: 0.7;
  color: #313146;
  font-size: .8em;
  font-weight: 300;
}
.form-input-elements .floated:valid + label {
  transform: translateY(5px);
  opacity: 0.6;
}


/* ================  Left navigation  ================ */

.left-navigation{
  width: 100px;
  height: 100%;
  background: #313146;
  position: fixed;
  left: 0;
  top: 0px;
  text-align: center;
  bottom: 0;
}

.left-navigation ul{
  list-style: none;
  width: 100%;
  flex-direction: column;
}
.left-navigation ul li{
  width: 100%;
  padding: 0px;
  border-bottom: 1px solid #181825;
  box-shadow: inset 0 1px 0 #474765;
  transition: all .4s ease-in-out;
}
.left-navigation ul li a{
  color: #757b8d;
  display: block;
  padding: 30px 0px;
  width: 100%;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
}
.left-navigation ul li:active, .left-navigation ul li:hover{
  background-color: #242438;
}
.left-navigation ul li a:hover, .left-navigation ul li a:focus {
  color: white;
}


/* ================  Content layout  ================ */

.page-content{
  width: calc(100% - 100px);
  margin-left: auto;
  padding: 20px;
  height: 100%;
}

/* ================  Forms  ================ */

.connect-wrap{
  max-width: 500px;
  margin: auto;
  height: 100%;
}
.connect-wrap form{
  padding: 40px;
}
.connect-wrap form h4{
  font-weight: 500;
  color: #313246;
}
.inputs-column{
  width: 100%;
}
.input-error-box{
  display: none;
}
.form-input-elements{
  width: 100%;
}
.form-input{
  width: 100%;
  flex-direction: column;
  position: relative;
  margin: 20px 0px;
}

/* ================  Invite bar  ================ */
.invite-bar{
  width: 100%;
}
.invite-bar form{
 width: 100%;
}
.invite-bar input[type="email"]{
  border: 0px;
  font-weight: 300;
  font-size: .9em;
  width: 100%;
  border: 1px solid #e7e7e7;
  height: 100%;
  padding: 0px 10px;
  border-right: 0px;
  background-color: #f7f5f3;
}
.invite-bar .submit{
  margin: 0px;
}

/* ================  BalanceBox  ================ */
.balance-box{
  margin: 20px 0px;
  width: 100%;
}
.balance-part{
  flex: 1;
  height: 100px;
}
.balance-part:first-child{
  border-right: 1px solid #ededed;
}
.balance-part:nth-child(2){
  border-right: 1px solid #ededed;
}
.balance-part h5{
  width: 100%;
  margin: 0px;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.balance-part h6{
  width: 100%;
  margin: 0px;
  font-size: 1.4em;
}
.balance-part p{
  margin: 0px;
 font-size: .7em;
 width: 100%;
 text-transform: uppercase;
 font-weight: 300;
}
.balance-part{
  text-align: center;
}
/* ================  Groups  ================ */
.groups{
  width: 100%;
  margin-bottom: 20px;
  padding: 0px;
}
.one-group{
  height: 90px;
  width: 50%;
  padding: 10px;
  margin: 0%;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px #f3f3f3;
  background-color: white;
  border: 1px solid #f9f9f9;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.one-group:hover{
  background-color: #f7f7f7;
}
.group-status{
  height: 70px;
  max-width: 70px;
  flex: 1;
  border-radius: 5px;
}
.group-color-clear, .color-clear{
  background-color: #e9e7e5;
}
.group-color-owe, .color-owe{
  background-color: #ffc1ca;
}
.group-color-owes, .color-owes{
  background-color: #b8f1d1;
}
.one-group .flex-property a, .one-group .flex-property p{
  margin: 0px 10px;
}
.one-group .flex-property{
  flex: 1;
}
.one-group .group-name{
  width: 100%;
  font-family: "Rubik";
  font-weight: 300;
  font-size: .9em;
  color: #313246 !important;
}
.one-group .group-members{
  width: 100%;
  font-weight: 800;
  font-size: 1.3em;
  text-transform: uppercase;
  height: 100%;
  color: white;
}
.one-group .group-my-status{
  width: 100%;
  font-size: .8em;
  font-weight: 300;
  color: #9f9792;
}
.group-info{
  height: 100%;
}
.group-info span{
  font-size: .7em;
  width: 100%;
  display: block;
  text-align: right;
  color: #313246;
}
/* ================  Friends  ================ */
.friends{
  padding: 0px;
}
.one-friend{
 width: 100%;
 border-bottom: 1px solid #f1f1f1;
 height: 61px;
 padding: 0px 20px 0px 0px;
}
.friend-amount{

}
.friend-status{
 max-width: 60px;
 height: 60px;
 flex: 1;
}
.friend-info{
  flex: 6;
  padding: 5px;
}
.friend-info a, .friend-info p{
  width: 100%;
  margin: 0px;
}
.friend-info a{
  font-size: .9em;
}
.friend-info p{
  font-size: .8em;
  color: #8e8e8e;
  font-weight: 300;
}
.friend-name{

}
.add-friend{
  flex: 1;
  color: black;
  font-size: 1em;
  width: 20px;
  text-align: center;
}
.friend-email{

}

/* ================  Footer  ================ */

footer{
  padding: 20px 0px;
  width: 100%;
  min-height: 100px;
  z-index: 1000;
  font-family: "Montserrat", "Lato", "Arial";
}

[type=reset], [type=submit], button, html [type=button]{
  -webkit-appearance: listbox;
}
