button, input, textarea, a, select{
  outline: none !important;
}
button:hover{
}

ul{
  margin: 0px;
  padding: 0px;
}
a:hover{
  text-decoration: none !important;
}


 /* =========== colors ========= */


/* =========== font sizes =========== */
.title-xxxl{
  font-size: 2.8em;
}

.title-xl{
  font-size: 1.4em;
}
.thin-title{
  font-weight: 300;
}
.title-l{
  font-size: 1.1em;
}

.title-m{
  font-size: .9em;
}
.title-s{
  font-size: .8em;
}
.title-xs{
  font-size: .75em;
}
.center-title{
  text-align: center;
  width: 100%;
}

/* ========= flex sizes ========== */

.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}

.flex-3{
  flex: 3;
}
